:root {
    --background-color-grey: #202020;
    --background-color-blue: #073042;
    --background-color-light-grey: #272727;
    --button-color-green: #3DDC84;
    --button-color-grey: #303030;
    --button-color-blue: #4285F4;
    --text-color-white: #FFFFFF;
    --text-color-red: #EE3465;
    --text-color-grey: #A0A0A0;
    --line: #DADADA;
    --text-color-dark-grey: #8B8B8B;
    --grey-line: #424242
  }
  
  :root{
    --section-max-width: 1140px;
  }