.portfolio {
    padding-top: 100px;
}

.portfolio__title {
    color: var(--text-color-dark-grey);
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 50px;
    margin: 0;
}

.portfolio__link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-line);
    padding-bottom: 19px;
    margin-bottom: 20px;
}

.portfolio__link-wrapper:last-child {
    border-bottom: none !important;
    padding: 0;
    margin: 0 0 15px;
}

.portfolio__link {
    text-decoration: none;
}

.portfolio__subtitle {
    font-size: 30px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.2px;
    color: var(--text-color-white);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 790px) {
    .portfolio__subtitle {
        font-size: 28px;
        line-height: 50px;
        letter-spacing: -1.12px
    }

    .portfolio__link-wrapper:last-child {
        margin: 0;
    }
}


@media screen and (max-width: 621px) and (min-width: 320px) {
    .portfolio__subtitle {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px
    }
}