.about-project {
    background-color: var(--background-color-light-grey);
    padding: 110px 70px;
}


.about-project__title {
    font-size: 18px;
    font-family: Inter;
    letter-spacing: -0.72px;
    border-bottom: 1px solid var(--line);
    padding-bottom: 23px;
}

.about-project__table {
    margin: 0;
    margin-top: 70px;
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;


    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.about-project__container {
    width: calc(100%);
}

.about-project__subtitle {
    font-size: 18px;
    font-family: Inter;
    letter-spacing: -0.72px;
    width: 100%;
}

.about-project__description {
    font-size: 11px;
    font-family: Inter;
    line-height: 16px;
    width: calc(400 / 550 * 100%);
    margin-top: 26px;
    margin-bottom: 110px;
}

.about-project__timeline-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.about-project__timeline-bar {
    text-align: center;
    font-size: 11px;
    font-family: Inter;
    padding: 9px 14px;
    margin-bottom: 14px;
}

.about-project__timeline-bar_green {
    background-color: var(--button-color-green);
    color: #000;
}

.about-project__timeline-bar_grey {
    background-color: var(--button-color-grey);
}

.about-project__caption {
    text-align: center;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 17px;
    color: var(--text-color-grey);
}

@media screen and (max-width: 1279px) and (min-width: 791px) {}

@media screen and (max-width: 790px) {
    .about-project__container {
        width: 95%;
    }

    .about-project__table {
        gap: 0px;
    }

    .about-project__description {
        width: 97%;
        margin-bottom: 96px;
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__subtitle {
        font-size: 20px;
        letter-spacing: -0.8px;
    }

    .about-project__title {
        font-size: 22px;
        letter-spacing: -0.88px;

    }

    .about-project__caption {
        font-size: 14px;
        font-family: Suisse Intl;
        line-height: 17px;
    }

    .about-project {
        padding: 90px 50px;
    }

    .about-project__timeline-bar {
        padding: 9px 10px;
    }
}

@media screen and (max-width: 621px) and (min-width: 320px) {
    .about-project__container {
        width: 100%;
    }

    .about-project__table {
        grid-template-columns: 1fr;
    }

    .about-project__description {
        margin-top: 16px;
        width: 100%;
        margin-bottom: 56px;
        font-size: 11px;
        line-height: 16px;
    }

    .about-project__timeline-container {
        grid-template-columns: 1fr 2fr;

    }

    .about-project__title {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project__subtitle {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-project {
        padding: 70px 18px;
    }

    .about-project__table {
        margin-top: 60px;
    }
}