.header__buttons-container {
    display: flex;
    width: 100%;
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__movies-container {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.header__movies {
    color: var(--text-color-white);
}

.header__saved-movies {
    color: var(--text-color-white);
}

