.header__buttons-container {
    display: flex;
    width: 100%;
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__movies-container {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

.header__movies {
    color: var(--text-color-white);
}

.header__saved-movies {
    color: var(--text-color-white);
}

.header__account-container {
    background: transparent;
    border-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 86px;
    padding: 0;
    margin: 0;
}

.header__account-text {
    font-size: 13px;
    font-family: Inter;
    font-weight: 500;
    line-height: 12px;
    
    color: var(--text-color-white);
}

.header__account-logo {
    background-image: url(../../../../images/logo-account.svg);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border-style: none;
}
