.header-container {
    padding-top: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;
    flex: 0 0 auto;
}

.header-container_color-landing {
    background-color: var(--background-color-blue);
}

.header-container_color-main {
    background-color: var(--background-color-grey);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    padding: 0 70px 0;
    gap: 40px; 
    /* dont touch gap */
}


.header__logo {
    background-image: url(../../../images/logo-header.svg);
    width: 38px;
    height: 38px;
    background-size: 100% 100%;
}

.header__auth {
    margin: 0;
    display: flex;
    width: 183px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__signin-button {
    margin: 0;
    background: var(--button-color-green) !important;
    border-radius: 3px !important;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 20px;
}

.header__signup-button {
    padding: 0;
    margin: 0;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-white);
    width: 77px;
}

.header__welcome-container {
    margin: 0;
    /* padding-top: 40px; */
    width: 100%;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--text-color-white);
}

.header_auth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
    width: 100%;
    justify-content: space-between;
}

.header-container__display_none{
    display: none !important;
}

.header__menu-button {
    margin-right: 8px;
    width: 28px;
    height: 23px;
    background-image: url(../../../images/menu-icon.svg);
}

@media screen and (max-width: 1280px) {
    .header {
        /* max-width: 89%; */
        padding: 0 70px 0;
    }
    .header_auth{
        max-width: 396px !important;
    }
}

@media screen and (max-width: 790px) {
    .header {
        padding: 0 30px 0;
    }
    .header_auth{
        /* padding-top: calc((232 - 18)/ 768 * 100%);
        max-width: 51.5% !important; */
        width: 396px;
    }
    .header-container{
        
    }
}

@media screen and (max-width: 550px) {
    .header{
        padding: 0 14px 0;
    }
    .header_auth{
        max-width: 260px !important;
        align-items: center;
    }
    .header__welcome-container {
        text-align: center;
    }
}


@media screen and (max-width: 500px) {
    .header__signup-button{
        font-size: 10px;
    }
    .header__signin-button{
        padding: 5px 12px;
        font-size: 10px;
    }
    .header__auth{
        width: 132px;
    }
    .header__welcome-container {
        padding-top: 10px;
    }
}