.search-form {
    padding: 70px 0;
    display: flex;
    flex-direction: row;
    border-radius: 9px;
    height: 72px;
}

.search-form__container {
    display: flex;
    background-color: var(--background-color-light-grey-f);
    border-radius: 9px 0 0 9px;
    flex-direction: row;
    width: calc(100% - 167px - 30px - 30px);
    align-items: center;
    justify-content: space-between;
}

.search-form__search-icon {
    background-image: url(../../../images/icon-search.svg);
    background-size: 34px 34px;
    width: 34px;
    height: 34px;
    padding: 0 10px 0 0;
    background-position: 50%;
    background-repeat: no-repeat;
}

.search-form__input-field {
    color: var(--text-color-dark-grey);
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding: 0;
}

.search-form__search-btn {
    width: 60px;
    height: 34px;
    margin: 0 0 0 20px;
    padding: 0;
    border: none;
    border-radius: 48px;
    background-color: var(--button-color-blue);
    text-align: center;
    font-size: 11px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-color-white);
}

.search-form__delimeter {
    background-color: var(--background-color-light-grey-f);
    background-image: url(../../../images/border-line-search.svg);
    background-size: 1px 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 0 30px;
}

.search-form__switcher-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--background-color-light-grey-f);
    width: 167px;
    padding: 0 30px 0 0;
    flex-grow: 1;
    border-radius: 0 9px 9px 0;
}

.search-form__switcher-text {
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.search-form__switcher {
    width: 34px;
    height: 14px;
    background-color: var(--button-color-green);
    border-radius: 50px;
    padding: 2px;
    margin: 0;
    transition: opacity 0.4s ease;
    opacity: 0.2;
    border: none;
}

.search-form__switcher:hover {
    cursor: pointer;
}

.search-form__switcher-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color-white);
    transition: all 0.4s ease;
}

.search-form__switcher.active .search-form__switcher-ball {
    transform: translateX(20px);
}

.search-form__switcher.active {
    opacity: 1;
}

@media screen and (max-width: 790px) {
    .search-form {
        padding: 80px 0 109px;
    }
}

@media screen and (max-width: 680px) {
    .search-form {
        padding: 80px 0 45px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 136px;
    }

    .search-form__delimeter {
        display: none;
    }

    .search-form__switcher-container {
        flex-grow: 0;
        height: 72px;
        background-color: transparent;

        margin: 0;
        width: 148px;

        align-items: flex-end;

    }

    .search-form__container {
        flex-grow: 0;
        height: 72px;
        width: 100%;
        border-radius: 9px;
        padding: 0 19px;
        box-sizing: border-box;
    }

    .search-form__switcher-text {
        font-size: 11px;
    }

    .search-form__search-btn {
        flex-grow: 0;
        flex-shrink: 1;
        width: 58.65px;
    }

    .search-form__input-field {
        flex-shrink: 1;
        flex-grow: 0;
        max-width: calc(100% - 58.65px - 34px);
    }

    .search-form__search-icon {
        display: none;
    }
}