.search-form {
    padding: 85px 0 70px;
    display: flex;
    flex-direction: row;
}

.search-form__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    border-right: 1px solid var(--line);
}

.search-form__search-container{
    background-color: var(--background-color-light-grey-f);
    display: flex;
    width: 100%;
    padding: 19px 0 19px 15px;
    border-radius: 9px 0 0 9px;
}

.search-form__search-icon {
    background-image: url(../../../images/icon-search.svg);
    background-size: 34px 34px;
    width: 34px;
    height: 34px;
    padding: 0 10px 0 0;
    background-position: 50%;
    background-repeat: no-repeat;
}

.search-form__input-field {
    color: var(--text-color-dark-grey);
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
}

.search-form__search-btn {
    width: 60px;
    height: 34px;
    margin: 0 30px 0 20px;
    padding: 0;
    border-radius: 48px;
    background-color: var(--button-color-blue);
    text-align: center;
    font-size: 11px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-color-white);
}

.search-form__delimeter {
    background-color: var(--background-color-light-grey-f);
    background-image: url(../../../images/border-line-search.svg);
    background-size: 1px 40px;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 0 30px;
}

.search-form__switcher-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--background-color-light-grey-f);
    /* width: calc(197px + 2 * 19px); */
    padding: 23px 30px 19px;
    margin: 0;
    flex-grow: 0;
    border-radius: 0 9px 9px 0;
    gap: 15px;
}


.search-form__switcher-text {
    font-size: 13px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 790px) {
    .search-form {
        padding: 97px 0 109px;
    }
    .search-form__switcher-container {
        padding: 12px 21px 9px;
        margin: 0;
    }

    .search-form__search-btn {
        margin: 0 20px 0;
    }
}

@media screen and (max-width: 690px) {
    .search-form {
        padding: 100px 0 45px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 136px;
    }

    .search-form__delimeter {
        display: none;
    }

    .search-form__switcher-container {
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 148px;
        justify-content: space-between;
        padding-top: 44px;
        /* align-items: flex-end; */
    }

    .search-form__container {
        flex-grow: 0;
        width: 100%;
        border: none;
        padding: 0 19px 0 0;
        box-sizing: border-box;
    }

    .search-form__switcher-text {
        font-size: 11px;
    }

    .search-form__search-btn {
        flex-grow: 0;
        flex-shrink: 1;
        width: 58.65px;
        margin: 0;
    }

    .search-form__input-field {
        flex-shrink: 1;
        flex-grow: 0;
        max-width: calc(100% - 58.65px - 34px);
        font-size: 14px;
    }

    .search-form__search-icon {
        display: none;
    }

    .search-form__search-container{
        border-radius: 9px;
        width: 98%;
    }

}