.footer {
    background-color: var(--background-color-grey);
    padding: 79px 70px 20px;
    max-width: calc(100vw - 2*70px);
    width: 100%;
}

.footer__subtitle {
    color: var(--text-color-dark-grey);
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid var(--grey-line);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
}

.footer__container {
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 13px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-color-white);
    margin: 0;
    padding: 0;
}

.footer__links {
    margin: 0;
    padding: 0;
}

.footer__text:last-child {
    margin-left: 20px;
}

@media screen and (max-width: 790px) {
    .footer {
        max-width: calc(100vw - (2 * 30px));
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 550px) {
    .footer {
        max-width: calc(100vw - (2 * 10px));
        padding: 79px 10px 20px;
    }

    .footer__subtitle {
        font-size: 12px;
        padding-bottom: 21px;
    }

    .footer__container {
        margin-top: 30px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .footer__text:last-child {
        margin-left: 0;
    }

}