.about-me {
    background-color: var(--background-color-grey);
    padding: 110px 70px;
}

.about-me__wrapper {
    padding-top: 66px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
}

.about-me__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
}

.about-me__image-of-me {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: contain;
}

.about-me__title {
    font-size: 50px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
}

.about-me__subtitle {
    font-size: 18px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;

    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 18px 0 26px;
}

.about-me__description {
    font-size: 14px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding: 0 49px 0 0;
    max-width: 600px;
    /* height: calc(88px + 99px); */
    min-width: 100px;
    word-wrap: normal;
    text-align: justify;
    display: flex;
    flex-grow: 1;
}

.about-me__github-link {
    font-size: 14px;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    color: var(--text-color-white);
    
}

@media screen and (max-width: 877px) {
    .about-me__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .about-me__subtitle {
        font-size: 12px;
        padding: 16px 0 20px;
    }

    .about-me__description {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 790px) {
    .about-me {
        padding: 90px 50px;
    }
    
}

@media screen and (max-width:768px){
    .about-me__image-of-me {
        min-width: 255px;
        height: 307px;
        object-fit:cover;
    }
}

@media screen and (max-width: 670px) and (min-width: 320px) {
    .about-me__image-of-me {
        min-width: 292px;
        height: 352px;
    }

    .about-me__title {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .about-me__subtitle {
        font-size: 11px;
        line-height: 16px;
        padding: 20px 0 20px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        max-width: 100%;
        height: auto;
        padding: 0 0 8px;
    }

    .about-me__wrapper {
        padding-top: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about-me__info {
        padding-top: 40px;
        width: 80%;
    }
}

@media screen and (max-width: 680px) and (min-width: 320px) {
    .about-me {
        padding: 70px 14px;
    }
}

@media screen and (max-width: 400px) and (min-width: 320px) {
    .about-me__info {
        width: 292px;
    }
}