.page{
  min-height: 100vh;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

.page__container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh);
}



/* 
@media screen and (max-width: 1280px) {
  .page__container {
      padding-top: 58px;
  }
} */