/* The switcher - the box around the slider */
.switcher {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
}

/* Hide default HTML checkbox */
.switcher .switcher__input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switcher__slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-disabled-switcher);
    -webkit-transition: .6s;
    transition: .6s;
}

.switcher__slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 2px;
    background-color: var(--disabled-switcher-ball);
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.switcher__input:checked+.switcher__slider {
    background-color: var(--background-active-switcher);
}

.switcher__input:checked+.switcher__slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}


@media screen and (max-width: 690px) {
    .switcher  {
        width: 39px;
        height: 14px;
    }

    .switcher__slider:before {
        width: 11px;
        height: 11px;
    }
}