.submit-button {
    width: 396px;
    padding: 15px 0;
    border-radius: 3px;
    background: var(--button-color-blue);
    color: var(--text-color-white);
    text-align: center;
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.submit-button.submit-button_inactive{
    background-color: #F8F8F8;
    color: #C2C2C2;
}

.submit-button-error-message{
    font-family: "Inter", "Suisse-Intl", Arial, Helvetica, sans-serif;
    display: none;
    color: var( --text-color-red);
    padding-bottom: 11px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.submit-button-error-message.active{
    display: block;
}

@media screen and (max-width: 500px){
    .submit-button{
        font-size: 12px;
        width: 260px;
    }
}