.submit-button {
    width: 396px;
    height: 45px;
    border-radius: 3px;
    background: var(--button-color-blue);
    margin-top: 69px;
    color: var(--text-color-white);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 550px){
    .submit-button{
        font-size: 12px;
        width: 260px;
    }
}